.heart{
    position: absolute;
    width: 12vw;
    height: auto; 
    top: 63vh; 
    left: 50vw; 
    transform: translate(-50%, -50%); 
    z-index: 2;
}

.couple{
    position: absolute;
    width: 30vw;
    height: auto; 
    top: 63vh; 
    left: 50vw; 
    transform: translate(-50%, -50%); 
    z-index: 1;
}

.ruybang{
    position: absolute;
    top: 22vh; 
    left: 50vw;
    width: 45vw;
    height: auto; 
    transform: translate(-50%, -50%); 
    z-index: 3;
}

.fireworkDiv{
    position: relative;
    height: 100vh;
    width: auto;
    background-color: transparent;
    z-index: 1;
}